<mat-card>
    <div class="image">
        <img mat-card-image class="card-img" src="{{ product.imgsrc }}">
    </div>
    <mat-card-content>
        <div class="description">{{ product.name }}</div>
        <div>
            <div class="stars_comments">
                <app-rating-stars [rating]="product.rating"></app-rating-stars>
                <mat-card-subtitle class="comments">Отзывов: {{ product.comments }}</mat-card-subtitle>
            </div>
            <div class="price">
                {{ product.price | app_price }}
            </div>
        </div>  
    </mat-card-content>
</mat-card>
