<div class="left-menu">
    <form [formGroup]="form">
        <app-side-menu (subCategorySelect)="onSubCategorySelect($event)"></app-side-menu>

        <h3 class="filters_caption">Фильтры по товарам</h3>
            
        <mat-label class="filter_label">Наименование</mat-label>
        <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="textControl">
        </mat-form-field>

        <mat-label class="filter_label">Бренд</mat-label>
        <div class="filter_brand">
            <ul *ngIf="(brands$ | async) as brands; else spinner" class="filter_brand-list" formGroupName="brandsControl">
                <li *ngFor="let brand of brands">
                    <mat-checkbox 
                        color="primary" 
                        class="filter_brand-list-item" 
                        [formControlName]="brand"
                    >
                        {{ brand }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="content">
    <ng-container *ngIf="(products$ | async) as products; else spinner">
        <mat-card *ngFor="let product of products" class="card">
            <div class="card_image">
                <img class="card_image-img" [src]="product.images[0].url">
            </div>
            <div class="card_description">
                <h3>{{ product.name }}</h3>
                <app-rating-stars [rating]="product.rating"></app-rating-stars>
                <mat-card-subtitle class="comments">
                    Отзывов: {{ product.feedbacksCount }}
                </mat-card-subtitle>
            </div>
            <div class="card_price">
                <h3>{{ product.price | appPrice }}</h3>
                <button mat-stroked-button color="primary">Добавить в корзину</button>
            </div>  
        </mat-card>
    </ng-container>
</div>

<ng-template #spinner>
    <mat-spinner color="accent" diameter="50"></mat-spinner>
</ng-template>
