<mat-accordion>
    <ng-container *ngIf="(categories$ | async) as categories; else spinner">
        <mat-expansion-panel *ngFor="let category of categories; let i = index" [expanded]="i === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ category.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let subCategory of category.subCategories">
                    <mat-icon color="primary">arrow_right</mat-icon>
                    <a (click)="onClick(subCategory._id)">
                        {{ subCategory.name }}
                    </a>
                </li>
            </ul>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>

<ng-template #spinner>
    <mat-spinner color="accent" diameter="50"></mat-spinner>
</ng-template>
