<mat-accordion>
    <ng-template ngFor let-category [ngForOf]="categories" let-i="index">
        <mat-expansion-panel expanded="{{ i == 0 }}">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ category.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <ng-template ngFor let-subCategory [ngForOf]="category.subCategories">
                    <ng-container [ngTemplateOutlet]="itemSubCategory" [ngTemplateOutletContext]="{ subcategory: subCategory }"></ng-container>
                </ng-template>
            </ul>
        </mat-expansion-panel>
    </ng-template>
</mat-accordion>

<ng-template #itemSubCategory let-subcategory="subcategory">
    <li>
        <mat-icon>arrow_right</mat-icon>
        <a href="{{ subcategory._id }}">{{ subcategory.name }}</a>
    </li>
</ng-template>