<mat-accordion>
    <mat-expansion-panel *ngFor="let category of categories; let i = index" expanded="{{ i === 0 }}">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ category.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let subCategory of category.subCategories">
                <mat-icon>arrow_right</mat-icon>
                <a [href]="subCategory._id">
                    {{ subCategory.name }}
                </a>
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>
