:host {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0 0 0 -8px;
}

li {
    list-style-type: none;
    display: flex;
    margin-bottom: 8px;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color: #3f51b5;    
}

.active {
    color: red;
}