<div class="left-side">
    <h2>
        {{ product.name }}
    </h2>
   
    <app-rating-stars [rating]="product.rating"></app-rating-stars>
    <mat-card-subtitle class="comments">
        Отзывов: {{ product.feedbacksCount }}
    </mat-card-subtitle>

    <mat-card>
        <div class="price">
            {{ product.price | appPrice }}
        </div>
        <button mat-flat-button color="primary" class="button-buy">
            Добавить в корзину
        </button>
    </mat-card>

    <div class="image">
        <img class="card-img" [src]="product.images[0].url">
    </div>
</div>
<div class="right-side">
    <mat-tab-group animationDuration="0ms" dynamicHeight>
        <mat-tab label="Описание">
            <div class="tab-content">
                {{ product.description }}
            </div>
        </mat-tab>
        <mat-tab label="Характеристики">
            <div class="tab-content">
                <div *ngFor="let characteristic of product.characteristics">
                    <b>{{ characteristic.title }}:</b>
                    <ul>
                        <li *ngFor="let item of characteristic.items">
                            {{ item.name }}: {{ item.value }}
                        </li>
                    </ul>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Отзывы ({{product.feedbacksCount}})">
            <div class="tab-content">
                <button mat-stroked-button color="primary">
                    Добавить отзыв
                </button>
                <mat-card *ngFor="let feedback of product.feedbacks">
                    <b>Аноним</b>
                    <app-rating-stars [rating]="feedback.rate"></app-rating-stars>
                    <p>
                        {{ feedback.advantages }}
                    </p>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
